/* About page layout */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

/* Container in the center */
.content-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    max-width: 1400px;
    margin: 0 auto; 
    background: #f0f0f0;
    border-radius: 20px;
    padding: 3vw;
    border: 2px solid rgb(191, 186, 186);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Text that is next to the image */
.main-text {
    flex: 1; /* allowing the container to be responsive */
    max-width: 600px; 
    padding: 1rem;
}

/* responsive image next to the text */
.responsive-image {
    max-width: 40%; 
    height: auto;
    max-height: 400px; 
    border-radius: 20px;
}

/* link button to the inspirations page */
.button-link {
    display: inline-block;
    padding: 10px 15px;
    background-color: #8a55aa;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 45%;
}

/* change colour when hovering over */
.button-link:hover, .button-link:focus {
    background-color: #bb44bb;
    color: white;
    outline: none;
}

/* All text layout for headings and p  */
.main-text p, .main-text h1, .main-text h3 {
    font-weight: normal;
    margin: 10px 20px; 
    line-height: 1.6;
    text-align: justify;
    padding: 0 10px; 
}
/* new for changes */
.main-text p, .main-text h1, .main-text h2 {
    font-weight: normal;
    margin: 10px 20px; 
    line-height: 1.6;
    text-align: left;
    padding: 0 10px; 
}
.main-text h2 {
    margin-top: 40px;
    font-weight: bold;
}

.main-text h1 {
    background-color: rgba(203, 187, 52, 0.5);
    margin-bottom: 50px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.main-text h3 {
    margin-top: 40px;
    font-weight: bold;
}


/*About page: design inpiration*/
.wrap-inspiration {
    margin-top: 30px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 85%;
    background: #f0f0f0;
    border-radius: 20px;
    border: 2px solid rgb(191, 186, 186);
    padding: 4vw;
}

.main-text-inspiration {
    flex: 1;
    padding: 1rem;
}

/* All text layout for headings and p for the inpisration page following the about page */
.main-text-inspiration p, .main-text-inspiration h1, .main-text-inspiration h3 {
    font-weight: normal;
    margin: 10px 20px; 
    line-height: 1.6;
    text-align: left;
    padding: 0 10px; 
}

/*heading 1 for the inspiration page*/
.main-text-inspiration h1 {
    background-color: rgba(203, 187, 52, 0.5);
    margin-bottom: 50px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
}

/*heading 3 for the inspiration page*/
.main-text-inspiration h3 {
    margin-top: 40px;
    font-weight: bold;
}

/* Two columns grid to display the pages */
.websites-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    padding: 20px;
}

/* Each website and picture for each inspiration */
.website {
    background: #f9f9f9;
    padding: 20px;
    box-shadow: 0 20px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.web-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.website h2, .website p {
    font-size: calc(px + 1vmin);
    line-height: 1.4;
    margin: 10px 20px;
}

.website h2 a:hover, .website h2 a:focus {
    color: #8b1de2; 
    text-decoration: underline; 
}


/* different style for improvements page */
.main-text ul {
    list-style-type: none; 
    padding: 0;
    margin: 20px 0; 
}

.main-text li {
    background: #fff; 
    margin-bottom: 10px; 
    padding: 10px 15px; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.15); 
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    font-weight: normal; 
    font-style: normal; 
    color: #333; 
}


/* Added media queries for responsivity */

@media (max-width: 1200px) { 
    .responsive-image {
        max-width: 50%;
    }
}

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
        align-items: center;
        width: 90%;

    }

    .wrap-inspiration {
        width: 90%;    
    }
    
    .main-text, .responsive-image {
        flex: 0 0 100%;
    }

    .button-link {
        margin: 20px auto;
        display: block;
    }

    .websites-grid {
        grid-template-columns: 1fr;
        grid-template-columns: repeat(2, 1fr); 
        gap: 15px;
        padding: 0px; 
    }
}

@media (max-width: 600px) {
    .websites-grid {
        grid-template-columns: 1fr; 
    }
}