.footer {
    width: 100%;  /* Footer spans the full width of the viewport, responsive */
    position: fixed;  
    bottom: 0;
    background-color: #f0f0f0;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.2rem;
    font-weight: normal;
    color: #333;
    box-sizing: border-box;
    border-top: 2px solid rgb(191, 186, 186); 
    height: 30px; /* Fixed height of the footer so it doesn't clash with the ciphers container*/
}

@media (max-width: 600px) {
    .footer {
        padding: 0.5rem 0;
        z-index: 1;   /* Z a bit higher up to ensure the footer stays above other contents always */
    }
    .footer p {
        font-size: 1rem;
    }
}