/* styling for display grid button */
.display-grid-btn {
    padding: 0.5rem 1rem; 
    width: auto;
    font-size: 1rem; 
    text-align: center;
    background: #a8149e; 
    color: white; 
    border-radius: 0.3rem;
    margin-top: 0.5rem; 
    cursor: pointer; 
    border: none;
}

/* change colour when hover over */
.display-grid-btn:hover {
    background: #4331c5;
}

/*show yello colour when the cell contains a letter for clarity*/
.grid-cell-letter {
    background-color: #f0e68c;
    font-size: large;
}

.grid-cell {
    border: 1px solid #000; 
    display: inline-block;
    padding: 20px; 
    text-align: center;
    width: 50px; 
    height: 60px; 
    line-height: 30px; 
    overflow: hidden; 
    border-radius: 4px;
}

/*Media queries for mobile */
@media (max-width: 768px) {
    .display-grid-btn {
        width: 100%; 
        padding: 0.4rem;
        font-size: 0.8rem;
        margin-top: 0.3rem;
    }
    .modal-content {
        margin: 10% 5%; 
        padding: 10px; 
        width: 95%; 
        border-radius: 5%;
        z-index: 1001;

    }

    .grid-cell {
        padding: 2px; 
        width: 20px; 
        height: 30px; 
        line-height: 30px; 
        overflow: hidden; 
        border-radius: 4px;
    }
}